.nav-main {
  height: 16vh;
  background-color: #1a2639;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-main .nav-logo {
  margin: 0rem auto;
  background-image: url("../images/logo.png");
  background-position: center;
  background-size: cover;
  height: 110px;
  width: 101px;
}

.nav-main .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-right: auto;
}

.nav-main .nav-link {
  text-decoration: none;
  color: #fff;
  margin: 0.5rem;
  font-family: "Nunito", sans-serif;
}

.nav-main .nav-link:hover {
  color: #facf4a;
}

.content-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content-hero h3 {
  margin: 0 1.5rem;
  font-weight: 800;
}

.content-hero h4 {
  margin: 0 1rem;
}

.content-hero h3,
.content-hero h4 {
  font-family: "Raleway", sans-serif;
  text-shadow: 1px 1px #facf4a;
  font-weight: bold;
  margin: 1rem 0;
}

.content-hero .content-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-hero .content-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55vw;
}

.background-hero {
  background-image: url("../images/law.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 720px) {
  .content-hero {
    height: 85vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content-hero .content-button {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 55vh;
    border-radius: 2rem;
    padding: 1rem;
  }
}

@media only screen and (max-width: 720px) {
  .nav-main .nav-list {
    display: none;
  }
  .content-hero {
    height: 84vh;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.button {
  width: 15rem;
  background: #fff;
  border: 1px solid #1a2639;
  border-radius: 11px;
  padding: 10px 17px;
  color: #1a2639;
  display: inline-block;
  font: normal bold 1.5rem "Nunito", sans-serif;
  text-align: center;
  margin: 1rem 0;
}

.button:hover {
  background: #1a2639;
  color: #fff;
  padding: 10px 35px;
  -webkit-transition: 130ms ease-out;
  transition: 130ms ease-out;
  border: 2px solid #facf4a;
}

.w-100 {
  height: 100vh;
  width: 100% !important;
}

.carousel {
  height: 100vh;
  width: 100% !important;
}

.carousel p {
  color: #facf4a;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

.carousel img {
  opacity: 0.3;
}

.div-sec-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div-sec-3 .card-main-head {
  height: 15vh;
  width: 100%;
  background: #1a2639;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div-sec-3 .card-main-head h3 {
  color: #facf4a;
  letter-spacing: 0.3rem;
}

.container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  border: 2px solid #facf4a;
  border-radius: 1rem;
  padding: 1rem;
}

.card .card-heading {
  height: 30%;
}

.card .card-button {
  height: 30%;
}

.card .card-button,
.card .card-list,
.card .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card-list {
  height: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card .card-list p {
  font-size: 1.2rem;
}

@media only screen and (min-width: 720px) {
  .container-card {
    height: 85vh;
    width: 100%;
  }
  .card {
    height: 60vh;
    width: 20%;
  }
}

@media only screen and (max-width: 720px) {
  .container-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    height: 79vh;
    width: 68%;
    margin: 3rem auto;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

@media only screen and (min-width: 720px) {
  section {
    height: 100vh;
    width: 100%;
    background-color: #fff;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: "Raleway", sans-serif;
    color: #1a2639;
    font-weight: bold;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
    font-family: "Raleway", sans-serif;
  }
  h3 {
    font-size: 3.3rem;
    font-family: "Raleway", sans-serif;
  }
  h4 {
    font-size: 2.3rem;
    font-family: "Raleway", sans-serif;
  }
  body::-webkit-scrollbar {
    width: 0.3rem;
  }
  body::-webkit-scrollbar-track {
    background: #1a2639;
  }
  body::-webkit-scrollbar-thumb {
    background: #facf4a;
  }
}

@media only screen and (max-width: 720px) {
  .container-mobile {
    background-color: #fff;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.3rem;
  }
  h3 {
    font-size: 2.3rem;
  }
  h4 {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=main.css.map */