@import "var";

//-----------------------------------------

@media only screen and (min-width: 600px) {
  .content-main {
    width: 100%;
    height: 100%;
  }

  section {
    color: $color-nav;
    height: 100vh;
    margin-left: 5.5rem;
    text-align: center;
  }

  .heading-sec {
    height: 15vh;
    text-align: center;
    background-color: $color-text;
    color: $color-nav-svg;

    h2 {
      margin-left: 2rem;
      font-size: $font-three;
      font-family: $font-text;
    }

    img {
      margin-right: 2rem;
    }
  }

  .content-home {
    background-image: url(../images/study.jpg);
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

    h1 {
      font-size: $font-three;
      font-family: $font-text;
      margin: 7rem auto 0rem;
    }
  }

  .heading-sec-flex {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .heading-sec-space {
    justify-content: space-between;
  }

  .heading-sec-middle {
    justify-content: center;
  }

  .content-sec {
    font-size: $font-two;
    font-family: $font-text;
    color: $color-text;
    height: 85vh;
    line-height: 2.2rem;
    text-align: left;
    display: flex;
    justify-content: space-between;

    .content-contact {
      margin: 3rem 2rem;
      width: 85%;

      h2 {
        font-size: $font-two-two;
        font-style: italic;
        color: $color-head;
      }

      .form-css {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      input {
        background: none transparent;
        border: 1px solid #110000;
        border-radius: 2px;
        color: $color-back;
        font-family: $font-primary;
        font-size: $font-one;
        height: 2.5rem;
        line-height: 0.7rem;
        padding: 1rem;
        letter-spacing: 0.2rem;
        margin: 1rem;
      }

      textarea {
        background: none transparent;
        border: 1px solid #110000;
        border-radius: 2px;
        color: $color-back;
        font-family: $font-primary;
        font-size: $font-one;
        line-height: 0.7rem;
        padding: 1rem;
        letter-spacing: 0.2rem;
        margin: 1rem;
      }

      button {
        margin: 1.5rem auto;
        background: #eeeeee;
        color: $color-back;
        border: 1px solid #556699;
        border-radius: 11px;
        padding: 20px 45px;

        display: inline-block;
        text-align: center;
      }

      button:hover {
        background: $color-back;
        color: $color-text;
      }
    }
  }

  .social-media {
    width: 15%;
    height: 85vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
    }

    svg {
      color: $color-back;
    }
  }

  .content-event {
    background-image: url(../images/think.jpg);
    width: 100%;
    height: 90vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: right;

    h1 {
      font-size: 4rem;
      top: 40%;
    }
    h3 {
      top: 45%;
    }

    button {
      top: 55%;

      background: #eeeeee;
      color: $color-head;
      border: 1px solid #556699;
      border-radius: 11px;
      padding: 20px 45px;
      display: inline-block;
      text-align: center;
    }

    h1,
    h3,
    button {
      font-family: $font-text;
      color: $color-head;
      position: relative;
      right: 10%;
    }

    button:hover {
      background: $color-back;
      color: $color-text;
    }
  }

  .content-mobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .content-main {
    display: none;
  }
}
