//-----------------------------------------------------------------

$font-primary: "Open Sans", sans-serif;
$font-text: "Newsreader", serif;

//---------------------------------color---------------------

$color-text: #ececec;
$color-back: #23232e;
$color-nav: #141418;
$color-nav-hover: #805c69;
$color-nav-svg: #ff9f4a;
$color-head: #805c69;

//-------------------------------font ----------------------

$font-one: 1rem;
$font-two: 1.5rem;
$font-two-two: 2rem;
$font-three: 2.5rem;
$font-four: 4rem;

//------------------------------
