//-----------------------------------------------------------------

$font-primary: "Open Sans", sans-serif;
$font-text: "Newsreader", serif;

//---------------------------------color---------------------

$color-text: #ececec;
$color-back: #23232e;
$color-nav: #141418;
$color-nav-hover: #ff3c83;
$color-nav-svg: #ff9f4a;

//-------------------------------font ----------------------

$font-one: 1rem;
$font-two: 1.5rem;
$font-three: 3rem;
$font-four: 4rem;

//------------------------------
