//----------------------------font-familys------------------

$font-heading: "Raleway", sans-serif;
$font-text: "Nunito", sans-serif;

//----------------------------sizes-------------------

$one: 1rem;
$text: 1.6rem;
$two: 2.3rem;
$three: 3.3rem;
$four: 4rem;
$five: 5rem;
$six: 6rem;

//--------------------------colour---------------------

$color-white: #fff;
$color-dark: #1a2639;
$color-gold: #facf4a;
$color-light: #e3f2fd;

//-----------------------------------------------------
