@import "var";
@import "hero";
@import "event";
//----------------------------------------------------------------------------------------------
//defult css for pages is here

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

// body {
//   overflow: hidden;
// }

//-----------------------------------------------------------------------------------------------
//additional css for defult styling of section in mobile or desktop mode

@media only screen and(min-width : 720px) {
  section {
    height: 100vh;
    width: 100%;
    background-color: $color-white;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: $font-heading;
    color: $color-dark;
    font-weight: bold;
  }

  h1 {
    font-size: $five;
  }

  h2 {
    font-size: $four;
    font-family: $font-heading;
  }

  h3 {
    font-size: $three;
    font-family: $font-heading;
  }

  h4 {
    font-size: $two;
    font-family: $font-heading;
  }

  //here i used webkit to make scrolbar look more appealing
  body::-webkit-scrollbar {
    width: 0.3rem;
  }

  body::-webkit-scrollbar-track {
    background: $color-dark;
  }

  body::-webkit-scrollbar-thumb {
    background: $color-gold;
  }
}

@media only screen and(max-width : 720px) {
  .container-mobile {
    background-color: $color-white;
  }

  h1 {
    font-size: $four;
  }

  h2 {
    font-size: $three;
  }

  h3 {
    font-size: $two;
  }

  h4 {
    font-size: $text;
  }
}
