
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************************************************** NAVBAR ******************************************************************/

.logo{
    width: 20%;
    display: flex;
    cursor: pointer;
    font-size: 20px;
}
.logo_img{
    width: 45%;
}
.logo:hover{
    color: #F7C02D;
}
.heading{
    font-size: 110%;
    text-align: center;
    margin-top: 24px;
    margin-left: -16px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 8vh;
    background-color: rgba(24,24,24,0.9);
}

.logo{
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav li{
    list-style: none;
   
}

.nav a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    transition: 0.3s ease;
    position: relative;
}
.nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #F7C02D;
    transform: scale(0,1);
    transition: transform 0.4s ease;

}
.nav a:hover::after{
    transform: scale(1,1);
    

}
.nav a:hover{
    color: #F7C02D;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.5s ease;
}

/***************************************************** COROSUL ******************************************************************/


.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
}
.carousel-item::before{
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
}
.carousel-caption{
    bottom: 400px;
    padding-left: 100px;
}
.d-block{
    height: 100vh;
}
.carousel-caption h5{
    font-size: 80px;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}
.btn-slider{
    margin-top: 30px;
}
.btn-slider .btn{
    background-color: transparent;
    color: #F7C02D;
    border:1px solid #F7C02D;
    border-radius: 20px;
    padding: 1.5rem 3rem;
    font-size: 1rem;
    margin-left: 20px;
}
.btn-slider .btn-2{
    background-color: transparent;
    color: white;
    border:1px solid white;
}
.btn-slider .btn-2:hover{
    background-color: white;
    color: black;
}
.btn-slider .btn-1:hover{
    background-color: #F7C02D;
    color: white;
}

/***************************************************** SECOND SECTION ******************************************************************/


.secondContainer{
    background-color: white;
    height: 100vh;
}

.head h1{
    font-size: 80px;
    color: #f7c12d;
    /* text-decoration: underline; */
    margin-left: 30px;
}
.head hr{
    border: none;
    height: 1px;
   
    color: #F7C02D; 
    height: 5px;
    background-color: #F7C02D;
}
/***************************************************** RIGHT SECTION ******************************************************************/

.right-section{
    float: right;
    height: 100vh;
    width: 50%;
}

.right-section img{
    border-radius: 50%;
    height: 220px;
    width: 220px;
    margin-left: 387px;
    margin-top: 150px;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}
.right-section p{
    height: 220px;
    width: 220px;
    margin-left: 430px;
    margin-top: 60px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(24,24,24,0.8);
}
/***************************************************** LEFT SECTION ******************************************************************/

.left-section{
    float: right;
    height: 100vh;
    width: 50%;
}

.left-section h1{
    font-size: 90px;
    color: rgba(24,24,24,0.8);
    margin-left: 50px;
    margin-top: 120px;
}
.left-section .p1{
    font-size: 50px;
    color: rgba(24,24,24,0.8);
    margin-left: 50px;
    margin-top: 20px;
}
.left-section .p2{
    font-size: 30px;
    color: rgba(24,24,24,0.8);
    margin-left: 50px;
    margin-top: 20px;
}

.left-section button{
    background-color: transparent;
    color: #F7C02D;
    border: 1px solid #F7C02D;
    border-radius: 20px;
    padding: 1.5rem 7rem;
    font-size: 2rem;
    margin-left: 38%;
    margin-top: 10%;
}

.left-section button:hover{
    background-color: #F7C02D;
    color: white;
    
}

/***************************************************** THIRD SECTION ******************************************************************/

.ThirdSection{
    width: 100%;
    height: 100vh;
    background-color: #565656;
    color: white;
   
}

.course-head h1{
    font-size: 80px;
    color: #f7c12d;
    /* text-decoration: underline; */
    margin-top: 100px;
    margin-left: 30px;
}
.course-head hr{
    border: none;
    height: 1px;
   
    color: #F7C02D; 
    height: 5px;
    background-color: #F7C02D;
}

.color{
    color: #000;
}
/***************************************************** RESPONSIVE SECTION ******************************************************************/
@media screen and (max-width:1500px){
    .left-section{
        float: right;
        height: 100vh;
        width: 50%;
    }
    
    .left-section h1{
        font-size: 70px;
        color: rgba(24,24,24,0.8);
        margin-left: 50px;
        margin-top: 120px;
    }
    .left-section button{
        background-color: transparent;
        color: #F7C02D;
        border: 1px solid #F7C02D;
        border-radius: 20px;
        padding: 1rem 5rem;
        font-size: 2rem;
        margin-left: 38%;
        margin-top: 10%;
    }
}
@media screen and (max-width:1250px){
    .logo_img{
        width: 40%;
    }
    .logo{
        width: 30%;
    }
    .carousel-caption h5{
        font-size: 60px;
        font-weight: 600;
    }
    .carousel-caption p{
        font-size: 15px;
        top: 2rem;
    }
    .btn-slider .btn{
        background-color: transparent;
        color: #F7C02D;
        border:1px solid #F7C02D;
        border-radius: 20px;
        padding: 1rem 2rem;
        font-size: 1rem;
        margin-left: 20px;
    }
    .btn-slider .btn-2{
        background-color: transparent;
        color: white;
        border:1px solid white;
    }
    .btn-slider .btn-2:hover{
        background-color: white;
        color: black;
    }

    .right-section{
        height: 50%;
        width: 100%;

    }
    .right-section img{
        height: 150px;
        width: 150px;
        margin-top: 30px;
        margin-left: 600px;
    }
    .right-section p{
        margin-top: 10px;
        margin-left: 600px;
    }
    .left-section{
        height: 50%;
        width: 100%;
    }
    .left-section h1{
        font-size: 60px;
        font-weight: 700;
        color: rgba(24,24,24,0.8);
        margin-left: 400px;
        margin-top: -90px;
    }
    .left-section .p1{
        font-size: 30px;
        color: rgba(24,24,24,0.8);
        margin-left: 400px;
        margin-top: 20px;
    }
    .left-section .p2{
        font-size: 30px;
        color: rgba(24,24,24,0.8);
        margin-left: 400px;
        margin-top: 20px;
    }
    
    .left-section button{
        background-color: transparent;
        color: #F7C02D;
        border: 1px solid #F7C02D;
        border-radius: 20px;
        padding: .5rem 2rem;
        font-size: 2rem;
        margin-left: 38%;
        margin-top: 5%;
    }
    
    .left-section button:hover{
        background-color: #F7C02D;
        color: white;
        
    }
    .head h1{
        font-size: 50px;
        color: #f7c12d;
        /* text-decoration: underline; */
        margin-left: 30px;
    }

   
}
@media screen and (max-width:1100px){
    .nav{
        width: 50%;
    }
    .logo{
        font-size: 12px;
    }
    .carousel-caption h5{
        font-size: 50px;
        font-weight: 600;
    }
    .carousel-caption p{
        font-size: 15px;
        top: 2rem;
    }
    .btn-slider .btn{
        background-color: transparent;
        color: #F7C02D;
        border:1px solid #F7C02D;
        border-radius: 20px;
        padding: 1rem 2rem;
        font-size: 1rem;
        margin-left: 20px;
    }
    .btn-slider .btn-2{
        background-color: transparent;
        color: white;
        border:1px solid white;
    }
    .btn-slider .btn-2:hover{
        background-color: white;
        color: black;
    }
    .right-section{
        height: 50%;
        width: 100%;

    }
    .right-section img{
        height: 150px;
        width: 150px;
        margin-top: 30px;
        margin-left: 500px;
    }
    .right-section p{
        margin-top: 10px;
        margin-left: 490px;
    }
    .left-section{
        height: 50%;
        width: 100%;
    }
    .left-section h1{
        font-size: 60px;
        font-weight: 700;
        color: rgba(24,24,24,0.8);
        margin-left: 350px;
        margin-top: -90px;
    }
    .left-section .p1{
        font-size: 30px;
        color: rgba(24,24,24,0.8);
        margin-left: 350px;
        margin-top: 20px;
    }
    .left-section .p2{
        font-size: 30px;
        color: rgba(24,24,24,0.8);
        margin-left: 350px;
        margin-top: 20px;
    }
    
    .left-section button{
        background-color: transparent;
        color: #F7C02D;
        border: 1px solid #F7C02D;
        border-radius: 20px;
        padding: .5rem 2rem;
        font-size: 2rem;
        margin-left: 38%;
        margin-top: 5%;
    }
    
    .left-section button:hover{
        background-color: #F7C02D;
        color: white;
        
    }
    .head h1{
        font-size: 50px;
        color: #f7c12d;
        /* text-decoration: underline; */
        margin-left: 30px;
    }
}
@media screen and (max-width:900px){
    .right-section{
        height: 50%;
        width: 100%;

    }
    .right-section img{
        height: 100px;
        width: 100px;
        margin-top: 30px;
        margin-left: 400px;
    }
    .right-section p{
        margin-top: 10px;
        margin-left: 400px;
    }
    .left-section{
        height: 50%;
        width: 100%;
    }
    .left-section h1{
        font-size: 60px;
        font-weight: 700;
        color: rgba(24,24,24,0.8);
        margin-left: 250px;
        margin-top: -90px;
    }
    .left-section .p1{
        font-size: 30px;
        color: rgba(24,24,24,0.8);
        margin-left: 250px;
        margin-top: 20px;
    }
    .left-section .p2{
        font-size: 30px;
        color: rgba(24,24,24,0.8);
        margin-left: 250px;
        margin-top: 20px;
    }
    
    .left-section button{
        background-color: transparent;
        color: #F7C02D;
        border: 1px solid #F7C02D;
        border-radius: 20px;
        padding: .5rem 2rem;
        font-size: 2rem;
        margin-left: 38%;
        margin-top: 5%;
    }
    
    .left-section button:hover{
        background-color: #F7C02D;
        color: white;
        
    }
    .head h1{
        font-size: 50px;
        color: #f7c12d;
        /* text-decoration: underline; */
        margin-left: 30px;
    }
}
@media screen and (max-width:768px){
   .heading{
       margin-top: 10px;
       font-size: 20px;
   }
   .logo_img{
       width: 100px;
   }
   .nav{
       display: none;
   }
 

   .carousel-caption h5{
    font-size: 30px;
    font-weight: 500;
    }
    .carousel-caption p{
        font-size: 14px;
        top: 2rem;
    }
    .btn-slider .btn{
        background-color: transparent;
        color: #F7C02D;
        border:1px solid #F7C02D;
        border-radius: 20px;
        padding: 20px;
        font-size: 1rem;
        margin-left: 20px;
    }
    .btn-slider .btn-2{
        background-color: transparent;
        color: white;
        border:1px solid white;
    }
    .btn-slider .btn-2:hover{
        background-color: white;
        color: black;
    }
    .right-section{
        height: 50%;
        width: 100%;

    }
    .right-section img{
        height: 150px;
        width: 150px;
        margin-top: 30px;
        margin-left: 300px;
    }
    .right-section p{
        margin-top: 10px;
        margin-left: 300px;
    }
    .left-section{
        height: 50%;
        width: 100%;
    }
    .left-section h1{
        font-size: 60px;
        font-weight: 700;
        color: rgba(24,24,24,0.8);
        margin-left: 100px;
        margin-top: -90px;
    }
    .left-section .p1{
        font-size: 30px;
        color: rgba(24,24,24,0.8);
        margin-left: 100px;
        margin-top: 20px;
    }
    .left-section .p2{
        font-size: 30px;
        color: rgba(24,24,24,0.8);
        margin-left: 100px;
        margin-top: 20px;
    }
    
    .left-section button{
        background-color: transparent;
        color: #F7C02D;
        border: 1px solid #F7C02D;
        border-radius: 20px;
        padding: .5rem 2rem;
        font-size: 2rem;
        margin-left: 38%;
        margin-top: 5%;
    }
    
    .left-section button:hover{
        background-color: #F7C02D;
        color: white;
        
    }
    .head h1{
        font-size: 50px;
        color: #f7c12d;
        /* text-decoration: underline; */
        margin-left: 30px;
    }
  
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navfade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}